<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <title>The Car Buy Place</title>
</head>
<header>
  <%- include('partials/_header') %>
</header>

<body>
   <!-- new car -->
   <div class="text-center">
    <h1>ADD A NEW CAR</h1>
  </div>
  <div class="container">
  <form method="POST" action="/new" id="new-car-form" class="form-row pl-4 border broder-dark">
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_title">Title</lable>
      <input type="text" name="title" placeholder="Title" id="new-car-form_title">
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_seller_id">Seller ID</lable>
      <input type="number" name="seller_id" placeholder="Seller ID" id="new-car-form_seller_id">
    </div>
    <div class="form-goup pl-3 mt-3">
      <label for="new-car-form_Descriptions">Description</label>
      <textarea name="descriptions" id="new-car-form_description" rows="3"></textarea>
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_year">Year</lable>
      <input type="number" name="year" placeholder="Year" id="new-car-form_year">
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_make">Make</lable>
      <input type="text" name="make" placeholder="Make" id="new-car-form_make">
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_model">Model</lable>
      <input type="text" name="model" placeholder="Model" id="new-car-form_model">
      </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_model_colour">Colour</lable>
      <input type="text" name="model_colour" placeholder="Colour" id="new-car-form_model_colour">
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_thumbnail_url">Thumbnail Image</lable>
      <input type="text" placeholder="Thumbnail" name="thumbnail_url" id="new-car-form_thumbnail_url">
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_cover_url">Cover Image</lable>
      <input type="text" placeholder="Cover Image" name="cover_url" id="new-car-form_cover_url">
    </div>
    <div class="form-group pl-3 mt-3">
      <label for="new-car-form_car_price">Price</lable>
      <input type="number" placeholder="Price" name="car_price" id="new-car-form_car_price">
    </div>
    <div class="form-group pl-3 mt-3">

    </div>
  </form>
  <div class="d-flex justify-content-center mt-2">
  <button type="submit" class="btn btn-success">ADD THE CAR</button>
</div>
</div>
<br class="border border-dark">
  <!-- end of new car -->

  <!-- delete form -->
  <div class="container">
  <form method="post" action="/delete" id="car-delete-form" class="car-delete-form mt-4 form-row">
    <div class="form-group d-flex justify-content-center pl-1 mt-3">
      <label for="car-delete-form_id">Car ID to Delete</lable>
      <input type="text" name="id" placeholder="Car ID" id="car-delete-form_id">
    </div>
    <div class="form-group ml-3 mt-3">
      <button type="submit" class="btn-md btn-danger">Delete Record</button>
    </div>
  </form>
</div>
  <!-- end of delete form -->
  <!-- start of sold form -->
  <div class="container">
  <form method="post" action="/sold" id="car-sold-form" class="car-sold-form form-row">
    <div class="form-group d-flex justify-content-center">
      <label for="car-sold-form_id">Sold Car ID</lable>
      <input type="text" name="id" placeholder="Car ID" id="car-sold-form_id">
    </div>
    <div class="form-group pl-3">
      <button type="submit" class="btn-md btn-warning">Mark Sold</button>
    </div>
  </form>
  </div>
 <!-- end of car-sold-form -->

<!-- start of email -->
<div class="container mt-5">
<div class="jumbotron w-25 bg-secondary">
  <form action="/adminmessage"method="post">
    <h5>General Enquiry</h5>
    <div class="mb-3">
      <input type="text" name="name"class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
    </div>
    <div class="mb-3">
      <input type="text" name="subject" class="form-control" id="exampleFormControlInput2" placeholder="Subject">
    </div>
    <div class="mb-3">
      <input type="email" name="email" class="form-control" id="exampleFormControlInput3" placeholder="To: email-address">
    </div>
    <div class="mb-3">
      <input type="hidden" name="sender_email" class="form-control" id="exampleFormControlInput4" placeholder="Your Email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
      <textarea type="text"class="form-control" name="emailContent" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<!-- end of email -->
<!-- get message button -->
<div class="messages">
  <form method="GET" action="/new" >
    <button type="submit" class="btn btn-success">GET MESSAGES</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">CAR ID</th>
        <th scope="col">SELLER ID</th>
        <th scope="col">SELLER EMAIL</th>
        <th scope="col">BUYER ID</th>
        <th scope="col">BUYER EMAIL</th>
        <th scope="col">DATE</th>
      </tr>
    </thead>
    <tbody>
      <% for(let message in messages) { %>
        <tr>

          <td><a href="/show/<%= messages[message].id %>"> <%= messages[message].car_id %></a></td>
          <td><%= messages[message].seller_id %></td>
          <td><%= messages[message].email_id_receiver %></td>
          <td><%= messages[message].buyer_id %></td>
          <td><%= messages[message].email_id_sender %></td>
          <td><%= messages[message].sent_date %></td>

        </tr>
        <% } %>
    </tbody>
  </table>
</div>
<!-- end of message button -->



  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
