<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>LANDING PAGE</title>
</head>
<header>
  <%- include('partials/_header') %>
</header>
<body>
  <main style="margin: 1em;">
    <h3>NEW CARS FOR SALES</h3>
    <% if(true){ %>
      <form method="GET" action="/favourites">
        <button type="submit" class="btn btn-info">GET MY FAVOURITES</button>
      </form>
    <% } else{ %>
    <!-- not button if not logged in -->
   <% } %>

    <div class="d-flex justify-content-center">
    <form method="post" action="/price" id="filter_form">
      <input type="number" name="min_price" id="" placeholder="Min Price">
      <input type="number" name="max_price" id="" placeholder="Max Price">
      <button type="submit" class="btn btn-info">FILTER BY PRICE</button>
    </form>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">CAR THUMB PICTURE</th>
          <th scope="col">TITLE</th>
          <th scope="col">STATUS</th>
          <th scope="col">YEAR</th>
          <th scope="col">MAKE</th>
          <th scope="col">MODEL</th>
          <th scope="col">CAR PRICE</th>
          <th scope="col">ADD FAVOURITES</th>
        </tr>
      </thead>
      <tbody>
        <% for(let car in cars) { %>
          <tr>

            <td><a href="/show/<%= cars[car].id %>"> <img  src= "<%= cars[car].thumbnail_url %>"></a></td>
            <td><%= cars[car].title %></td>

            <td><% if(cars[car].sold === true){ %>
              <h1>SOLD!</h1>
            <% } else{ %>

           <% } %>
             </td>
            <td><%= cars[car].year %></td>
            <td><%= cars[car].make %></td>
            <td><%= cars[car].model %></td>
            <td>$<%= cars[car].car_price/100 %></td>
            <td><form method="POST" action="/favourites">
              <button type="submit" class="btn btn-info">ADD TO FAVOURITES</button>
              <input type="hidden" name="carId" id= <%=`index-favourites_${cars[car].id}`%>>
              <script type="text/javascript"> document.getElementById( `index-favourites_<%= cars[car].id %>`).value = "<%= cars[car].id %>";</script>
            </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
