<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>THE CAR BUY PLACE</title>
</head>
<header>
  <%- include('partials/_header') %>
</header>
<body style="background-color:rgb(233,236,239)">
  <div class="d-flex justify-content-center m-4">
<div class="jumbotron w-75 text-center">
  <img src="<%=data.cover_url %> " alt="">
</div>
<!-- <form method="POST" action="/favourites" id="add-favourites-form" class="favourites-form">
  <div class="pl-3">
    <input type="hidden" name="carId" id="add-favourites_car_id">
    <script type="text/javascript"> document.getElementById('add-favourites_car_id').value = "<%= data.car_id %>";</script>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info">FAVOURITE</button>
  </div>
</form> -->

</div>
  <div class="sub-heading text-center">
    <h1>Description</h1>
      <form method="POST" action="/favourites" id="add-favourites-form" class="favourites-form">
        <div class="pl-3">
          <input type="hidden" name="carId" id="add-favourites_car_id">
          <script type="text/javascript"> document.getElementById('add-favourites_car_id').value = "<%= data.car_id %>";</script>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">ADD TO FAVOURITES</button>
        </div>
      </form>
  </div>
  <div class="container pl-6 pt-2 mt-5">
    <div class="d-flex justify-content-center">
    <div class="jumbotron w-75 bg-secondary text-white">
     <p><%=data.descriptions%> </p>
     <div class="flex-row">
       <ul>
       <li><h4>Year: <%= data.year %> </h4></li>
       <li><h4>Model: <%= data.model %> </h4></li>
       <li><h4>Make: <%= data.make%></h4></li>
       <li><h4>Model color: <%=data.model_colour%></h4></li>
       <li><h4>Price : $<%=data.car_price /100%></h4></li>
      </ul>
     </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center container-full-bg">
  <div class="jumbotron w-50 bg-secondary">
    <form action="/messages"method="post">
      <h5 style="color:white">General Enquiry</h5>
      <div class="mb-3">
        <input type="text" name="name"class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
      </div>
      <div class="mb-3">
        <input type="text" name="subject" class="form-control" id="exampleFormControlInput2" placeholder="Subject">
      </div>
      <div class="mb-3">
        <input type="hidden" name="car_id" class="form-control" id="car_id" placeholder="Car ID">
        <script type="text/javascript"> document.getElementById('car_id').value = "<%= data.car_id %>";</script>
      </div>
      <div class="mb-3">
        <input type="hidden" name="email" class="form-control" id="exampleFormControlInput3" placeholder="To: email-address">
        <script type="text/javascript"> document.getElementById('exampleFormControlInput3').value = "<%= data.seller_email %>";</script>
      </div>
      <div class="mb-3">
        <input type="email" name="sender_email" class="form-control" id="exampleFormControlInput4" placeholder="Your Email Address">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" style="color:white">Message:</label>
        <textarea type="text"class="form-control" name="emailContent" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
 </div>
</div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
